mixin renderCommentComposer (url, parentId)
  form(method='POST', action='/comment').form.my-3
    input(id="url", name="url", type="hidden", value= url)
    if parentId
      input(id="parent", name="parent", type="hidden", value= parentId)
    .form-group
      textarea(id="body", name="body", rows="1", placeholder= parentId ? "Reply freely!" : "Comment freely!").form-control
    div.d-flex.align-items-center
      div.mr-3
        button(type="submit").btn.btn-primary.btn-sm.mb-2 Publish Comment
      div.mr-2
        .form-check.mb-2
          input(id="nsfw", name="nsfw", type="checkbox").form-check-input
          label(for="nsfw").form-check-label NSFW
      div
        .form-check.mb-2
          input(id="share-to-gab", name="shareToGab", type="checkbox", checked).form-check-input
          label(for="nsfw").form-check-label Share to Gab
