div(id='hydra-lightbox', tabindex="-1", role="dialog", onclick="return window.hydra.client.hideLightbox();").hydra-lightbox.d-none
  div.image-container
    img(id='hydra-lightbox-image', src='/img/gab-logo.png').lightbox-image