div(id="hydra-modal", tabindex="-1", role="dialog").modal.fade
  div(role="document").modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title Modal title
        button(type="button", data-dismiss="modal" aria-label="Close").close
          span(aria-hidden="true") &times;
      div.modal-body
        p(id="modal-prompt") Modal body text goes here.
      div.modal-footer.d-none