doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= `${site.name} | ${site.slogan}`
    block css
      link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
      link(rel="stylesheet", href="/fontawesome/css/all.min.css")
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
      script(src="/jquery/jquery.slim.min.js")
      script(src="/popper.js/umd/popper.min.js")
      script(src="/bootstrap/js/bootstrap.min.js")
      script(src="/fontawesome/js/fontawesome.min.js")
  body.hydra

    include components/navbar

    block content-container
      div.container
        block content

      hr

      div.container.mb-3.small.text-muted
        div Copyright &copy; #{moment().format('YYYY')} Gab AI, Inc.
        div License: MIT

    div(id="hydra-modal", tabindex="-1", role="dialog").modal.fade
      div(role="document").modal-dialog
        div.modal-content
          div.modal-header
            h5.modal-title Modal title
            button(type="button", data-dismiss="modal" aria-label="Close").close
              span(aria-hidden="true") &times;
          div.modal-body
            p(id="modal-prompt") Modal body text goes here.
          div.modal-footer
    
    div(id='hydra-lightbox', tabindex="-1", role="dialog", onclick="return window.hydra.client.hideLightbox();").hydra-lightbox.d-none
      div.image-container
        img(id='hydra-lightbox-image', src='/img/gab-logo.png').lightbox-image

    block clientjs
      script(src="/moment/moment.min.js")
      script(src="/numeral/numeral.min.js")
      script(src="/socket.io/socket.io.js")

      script(src="/js/hydra-resource.js")
      script(src="/js/hydra-client.js")

      if user
        script.
          window.hydra = window.hydra || { };
          window.hydra.client = new window.hydra.HydraClient();
          window.hydra.client.connect();

    block viewjs